body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

button {
    padding: 10px 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.modal-box {
    background: #020617;
    padding: 20px;
    border-radius: 12px;
    width: 300px;
}

